<!DOCTYPE html>
<html>
<script src="node_modules/angular/angular.js"></script>
<body>

<div ng-app="">

  <p>Name : <input type="text" ng-model="name"></p>
  <h1>Hello {{name}}</h1>

</div>

</body>
</html>
