<!DOCTYPE html>
<html>
<script src="node_modules/angular/angular.js"></script>
<body>


<div ng-app="" ng-init="myCol='lightblue'">

    <input style="background-color:{{myCol}}" ng-model="myCol" value="{{myCol}}">

    </div>

    <p>AngularJS resolves the expression and returns the result.</p>
</div>

</body>
</html>
