<!DOCTYPE html>
<html>
<script src="node_modules/angular/angular.js"></script>
<head>
        <script>
                var app = angular.module('myApp', []);
                app.controller('myCtrl', function($scope) {
                    $scope.firstName= "John";
                    $scope.lastName= "Doe";
                });
            </script>
</head>            
<body>
 
    <div ng-app="myApp">

        <div ng-controller="myCtrl">
            First Name: <input type="text" ng-model="firstName"><br>
            Last Name: <input type="text" ng-model="lastName"><br>
            <br>
            Full Name: {{firstName + " " + lastName}}
        </div>

        Full Name: {{firstName + " " + lastName}}

    </div>

</body>
</html>
