<!DOCTYPE html>
<html>
<script src="node_modules/angular/angular.js"></script>
<head>
    <script>
            var app = angular.module('myApp', []);
        
            app.controller('myCtrl', function($scope) {
                $scope.months = [
                        { name: "January", num: 1 },
                        { name: "February", num: 2  },
                        { name: "March", num: 3  },
                        { name: "Appril", num: 4  },
                        { name: "May", num: 5 }
                ];

                $scope.criteriaMatch = function( criteria ) {
                        return function( item ) {
                            return item.num > criteria;  
                        };
                };

                $scope.criteria = 3;
            });

    </script>
</head>    
<body>

    <div ng-app="myApp" >
        <div  ng-controller="myCtrl">
            <li ng-repeat="month in months">{{month}}</li>
        
        <select ng-model="selectedMonth">
            <option ng-value="month.name" ng-repeat="month in months">
                {{month.name}}
            </option>

        </select>

        
                <input type="text" placeholder="Search" ng-model="criteria">
                <div>
                    <ul>
                        <li ng-repeat="month in months | filter:criteriaMatch(criteria)  ">                                               
                              Name : {{ month.name }}  , Num : {{ month.num}}                              
                        </li>
                    </ul>
                </div>
        


    </div>

    </div>


</body>
</html>
