<!DOCTYPE html>
  <html>
  <script src="node_modules/angular/angular.js"></script>
  <head>
          <script>
                  var app = angular.module('myApp', []);
              
                  app.controller('myCtrl', function($scope) {
                      $scope.students = [
                          { name: "Steave", grade: "A" },
                          { name: "Mark", grade: "C" },
                          { name: "Andrea", grade: "B" },
                          { name: "Jenny", grade: "B" },
                          { name: "James", grade: "A" }
                      ];
                  });
          </script>
  </head>
  
  <body>
      <div ng-app="myApp">
          <div ng-controller="myCtrl">
                  <div>
                      <ul>
                          <li ng-repeat="student in students | orderBy:'grade'">
                              Name : {{ student.name }} , Grade : {{ student.grade}}
                          </li>
                      </ul>

                      <br>


                      <ul>
                          <li ng-repeat="student in students | orderBy:'-grade' | limitTo:2 ">
                              Name : {{ student.name }} , Grade : {{ student.grade}}
                          </li>
                      </ul>


                      <ul>
                          <li ng-repeat="student in students |orderBy:['grade','name']">
                              Name : {{ student.name }} , Grade : {{ student.grade}}
                          </li>
                      </ul>

                  </div>
          </div>
      </div>  
  </body>
  </html>

  