<!DOCTYPE html>
<html>
<script src="node_modules/angular/angular.js"></script>
<head>
        <script>
                var app = angular.module('myApp', []);
            
                app.controller('myCtrl', function($scope) {
                    $scope.customer = {
                        name: "Andrea",
                        address: {
                            city: 'Barcelona',
                            state: 'ES',
                            street: 'Pasaje de Senillosa',
                            number: 9
                        },
                
                        speak:function() { 
                            return "my names is: " + this.name 
                        },
                        speakadress:function() { 
                            return "my adress is: " + this.address.street;
                        }
                    }
                });
 
        </script>
</head>

<body>
    <div ng-app="myApp">
        <div ng-controller="myCtrl">
                <div>
                    {{customer.address}}
                    <br>
                    {{customer.address.state}}
                    <br>
                    {{customer.speak()}}
                    <br>                   
                </div>
        </div>
        {{customer.speakadress()}} 

    </div>  
</body>
</html>
