<!DOCTYPE html>
<html>
<head>
    <script src="node_modules/angular/angular.js"></script>

    <script>

        var app = angular.module("myApp", []);

        app.controller("myCtrl_1", function($scope) {
            $scope.firstName = "John";
            $scope.lastName = "Doe";
        });

        app.controller("myCtrl_2", function($scope) {
            $scope.firstName = "Michel";
            $scope.lastName = "Jackson";
        });

    </script>
</head>


<body>

<div ng-app="myApp">

    <div ng-controller="myCtrl_1">
        {{ firstName + " " + lastName }}
    </div>

    <div ng-controller="myCtrl_2">
       Hello {{ firstName + " " + lastName }}
    </div>
</div>



</body>
</html>
