<!DOCTYPE html>
<html>
<script src="node_modules/angular/angular.js"></script>

<style type="text/css">
    .redcolor {color: red}
    .bluecolor {color: blue}
</style>
 
<body>

<div ng-app="">

    <p>Color: <input type="text" ng-model="color"></p>
    
    <p ng-class="color == 'red' ? 'redcolor' : 'bluecolor'"> {{color}}</p>  
</div>

</body>
</html>

