<!DOCTYPE html>
<html>
<head>
 
<script src="node_modules/angular/angular.js"></script>

<script type="text/javascript">
    var app = angular.module('myApp', []);
        app.controller('ngclickCtrl', function ($scope) {
            $scope.clkcount = 0;
            $scope.color = 'Blue';
            
            $scope.getdetails = function () {
                $scope.clkcount = $scope.clkcount + 1;
            }
            $scope.getred = function () {
                $scope.color = 'Red';
            }
            $scope.getblue = function () {
                $scope.color = 'Blue';
            }
            $scope.getyellow = function () {
                $scope.color = 'Yellow';
            }
            
    });
</script>

</head>
<body>

    <div ng-app="myApp" >
        <h2>AngularJs Call Function in ng-click Event Example</h2>

        <div ng-controller="ngclickCtrl">
            <input type="button" style="cursor:pointer" value="Click RED" ng-click ="getred()" /><br /><br />
            <input type="button" style="cursor:pointer" value="Click BLUE" ng-click ="getblue()" /><br /><br />
            <input type="button" style="cursor:pointer" value="Click YELLOW" ng-click ="getyellow()" /><br /><br />
            <span style="color:Red">
                Number of Times you Clicked: {{clkcount}}
            </span>
            <div style="color:{{color}}">
                hola!!!
            </div>
        </div>
    </div>

</body>
</html>