<!DOCTYPE html>
<html >
    <style>
        table, th , td  {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;       
        }
        table tr:nth-child(odd) {
            background-color: #f1f1f1;
        }
        table tr:nth-child(even) {
            background-color: #ffffff;
        }
    </style>
    
    <script src="node_modules/angular/angular.js"></script>

    <script>
 
        //https://stackoverflow.com/questions/13760070/angularjs-passing-data-to-http-get-request
        
 
        var app = angular.module('myApp', []);
        app.controller('customersCtrl', function($scope, $http) {
            $http.get("https://www.w3schools.com/angular/customers_mysql.php")
            .then(function (response) {
                $scope.names = response.data.records;
            });
        });
    </script>

<body>

<div ng-app="myApp" ng-controller="customersCtrl">
    <table>
    <tr ng-repeat="x in names">
        <td>{{ x.Name }}</td>
        <td>{{ x.Country }}</td>
    </tr>
    </table>
</div>
 
</body>
</html>
