<!DOCTYPE html>
<html >
        <style>
                table, th , td  {
                    border: 1px solid rgb(224, 43, 43);
                    border-collapse: collapse;
                    padding: 5px;       
                }
                table tr:nth-child(odd) {
                    background-color: #daa3a3;
                }
                table tr:nth-child(even) {
                    background-color: #ffffff;
                }
        </style>

        <script src="node_modules/angular/angular.js"></script>
        <script>
            var app = angular.module('myApp', []);
                app.controller('customersCtrl', function($scope, $http) {
                $http.get("https://jsonplaceholder.typicode.com/posts/")
                    .then(onSuccess, onError);

                    function onSuccess(data) {
                        $scope.names = data.data;
                    }    
                    function onError(data) {
                        $scope.names = 'error';

                    }
                                         
                });
                
        </script>
<body>
        
        <div ng-app="myApp" ng-controller="customersCtrl">
            <div ng-if="names == 'error' ">ERROR CONNECTION</div>
            
            <div ng-if="names != 'error' ">
                Search:
                <input type="text" placeholder="Search" ng-model="annaSearch.body">
                <table>
                <tr ng-repeat="x in names | orderBy:'-id' | filter:annaSearch | limitTo: 10">
                    <td>{{ x.userId }}</td>
                    <td>{{ x.id }}</td>
                    <td>{{ x.title | limitTo: 20 | uppercase }}</td>
                    <td>{{ x.body | limitTo: 20 | uppercase }}</td>
                </tr>
                </table>
            </div>


        </div>
         
</body>
</html>