<!DOCTYPE html>
<html>
<script src="../node_modules/angular/angular.js"></script>
<script src="controllers/mycontroller.js"></script>
<script src="controllers/mycontroller2.js"></script>
<script src="services/Calculator.js"></script>
<body>

    <div ng-app="myApp">

        first controller:
        <div ng-controller="myController">
            <div>
                    Enter a number:
                    <input type="number" ng-model="number">
                    <button  ng-click="findSquare()">Square</button>
                    <div>{{answer}}</div>
            </div>
        </div>

        <hr> second controller:

        <div ng-controller="myController2">
                <div>{{answer}}</div>
                 <button  ng-click="getSquare()">Get Square</button>
        </div>

    </div>



</body>
</html>

