﻿<style>
    form {
        padding: 9px;
        margin: 9px;
        width:300px;
        border: 3px double green;
        box-shadow:5px 5px 3px gray;
    }
</style>
<form action="/" method="post">
    <h3>Palmarés</h3>
    <h2>{{ciclista.Nombre}} #{{id}}</h2>
    <p>
        <img ng-src="{{ciclista.img}}"><br />
        <strong>{{ciclista.Equipo}}</strong><br />
        {{ciclista.Pais}}
    </p>
    <p><strong>Palmares</strong>: {{ciclista.Palmares}}</p>
    <hr />
    <a href="#/ciclistas">Listado General</a>
</form>